<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree.t(:credit_card) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:card_type) %>:</dt>
        <dd><%= payment.source.cc_type %></dd>

        <dt><%= Spree.t(:card_number) %>:</dt>
        <dd><%= payment.source.display_number %></dd>

        <dt><%= Spree.t(:expiration) %>:</dt>
        <dd><%= payment.source.month %>/<%= payment.source.year %></dd>

        <% if payment.source.encrypted_text && !payment.source.encrypted_text.blank? -%>
          <dt><%= Spree.t(:billing_address) %>:</dt>
          <dd><%= render :partial => 'spree/admin/shared/address', :locals => {:address => payment.order.billing_address} %></dd>

          <dt><%= Spree.t(:credit_card_info) %>:</dt>
          <dd><%= payment.source.encrypted_text.to_s %></dd>
        <% end -%>
      </dl>
    </div>
  </div>

</fieldset>