<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Credit Card Payments"} %>

<table class="admin-report">
  <tr>
    <th><%= t('cc_number') %></th>
    <th><%= t('type') %></th>
    <th><%= t('expiration') %></th>
    <th><%= t('name') %></th>   
    <th><%= t('action') %></th>    
  </tr>
  <% @creditcard_payments.each do |cc_payment| %>
    <tr>
			<td><%= cc_payment.creditcard.display_number %></td>
			<td><%= cc_payment.creditcard.cc_type.titleize %></td>
			<td><%= "#{cc_payment.creditcard.month}/#{cc_payment.creditcard.year}" %></td>
			<td><%= "#{cc_payment.creditcard.first_name} #{cc_payment.creditcard.last_name}" %></td>
			<td>
			  <%= link_to t('show'), admin_order_creditcard_payment_url(@order, cc_payment.creditcard) %>
			</td>
    </tr>
  <% end %>
</table>
