<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Credit Card Payments"} %>
<br/>
<h2><%= t("credit_card_payment")%></h2>
<br/>
<b><%= t("credit_card")%>: </b> &nbsp; #<%= @creditcard_payment.creditcard.display_number %><br/>
<b><%= t("type")%> : </b> &nbsp; <%= @creditcard_payment.creditcard.cc_type.titleize %><br/>
<br/>
<%=error_messages_for :creditcard_payment %>

<b><%=t('billing_address')%>: </b><br/>
<%= render :partial => 'admin/shared/address', :locals => {:address => @creditcard_payment.creditcard.address} %>
<br/>
<b>Credit Card Info: </b><br/>
<%= @creditcard_payment.creditcard.encrypted_text.to_s %><br/>
<br/>
<%= link_to t("list"), collection_url %>
